@page "/medicine"
@attribute [StreamRendering]
@using HospitalManager.Shared.Models
@inject HttpClient Http

<h1 class="text-center my-4">Zoznam Liekov</h1>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Názov</th>
                <th>Popis</th>
                <th>Množstvo</th>
                <th>Cena</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var medicine in Medicines)
            {
            <tr>
                <td>@medicine.Name</td>
                <td>@medicine.Description</td>
                <td>@medicine.Quantity</td>
                <td>@medicine.Price.ToString("F2")</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<MedicineDTO> Medicines = new();
    protected override async Task OnInitializedAsync()
    {
        
        var response = await Http.GetFromJsonAsync<List<MedicineDTO>>("http://localhost:8081/api/medicine");
        if (response != null)
        {
            Medicines = response;
        }
    }
}
