@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer

<div class="card m-3" style="width: 100%; border-radius: 8px; background-color: #FFFAFA; border: 1px solid #007bff;">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title" style="font-weight: bold; color: #343a40;">@ExaminationName</h5>
            <span class="badge bg-secondary" style="align-self: center;">@State</span>
        </div>

        <p class="card-text text-muted" style="margin-bottom: 8px;">Last updated: @Edited</p>
        <p class="card-text">Creted: @Created</p>

        <div class="d-flex justify-content-between">
            <button class="btn btn-link text-primary" @onclick="(() => OnClickDetail())">Detail</button>
        </div>
    </div>
</div>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    private void OnClickDetail()
    {
        Console.WriteLine("navigujem");
        NavigationManager.NavigateTo($"/examinations/detail");
    }

    [Parameter]
    public string ExaminationName { get; set; }

    [Parameter]
    public DateTime Edited { get; set; }

    [Parameter]
    public DateTime Created { get; set; }

    [Parameter]
    public string State { get; set; }
}
