@using System.Text
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@code {
    private string userClaims = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        var userClaimsStringBuilder = new StringBuilder();
        foreach (var claim in user.Claims)
        {
            userClaimsStringBuilder.AppendLine($"Claim type: {claim.Type} - Claim value: {claim.Value}");
        }

        userClaims = userClaimsStringBuilder.ToString();
        
        if (user.IsInRole("Doktor"))
        {
            ShowDoctorNavbar = true;
        }
        else if (user.IsInRole("Pacient"))
        {
            ShowPatientNavbar = true;
        }
    }

    private bool ShowDoctorNavbar { get; set; }
    private bool ShowPatientNavbar { get; set; }
}

<div>
    @if (ShowDoctorNavbar)
    {
        <DoctorNavbar />
    }
    else if (ShowPatientNavbar)
    {
        <PatientNavbar />
    }
</div>