@page "/examinations"
@attribute [Authorize(Roles = "Pacient")]
@using HospitalManager.Client.Components.Layout.Patient
@using Microsoft.AspNetCore.Authorization

<h1 class="text-primary fw-bold">Môj zoznam vyšetrení (pocet)</h1>

<div class="dropdown m-3">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Vyberte lekára, ktorý vás vyšetroval.
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Možnosť 1</a></li>
        <li><a class="dropdown-item" href="#">Možnosť 2</a></li>
        <li><a class="dropdown-item" href="#">Možnosť 3</a></li>
    </ul>
</div>

<p>Tu nájdete prehľad Vašich vyšetrení. Kliknutím na detail zobrazíte detaily vyšetrenia.</p>

@for (int i = 0; i < 3; i++)
{
    <ExaminationBar ExaminationName="konzultovat vysledky"></ExaminationBar>
}



@code {
    // [Inject] private NavigationManager NavigationManager { get; set; }

    // private void OnCreateNewRequestClick(int id)
    // {
    //     // NavigationManager.NavigateTo($"/examinations/detail={id}");
    // }
}
