@page "/examinations/detail"

@rendermode InteractiveServer

@inject IHttpClientFactory httpClientFactory

<h3>ExaminationDetailfdf</h3>
<h3>halooooooooooooooo</h3>

@code {
    // [Parameter]
    // public string Id { get; set; }
}
