@page "/examinations"
@attribute [Authorize(Roles = "Pacient")]
@using HospitalManager.Client.Components.Layout.Patient
@using Microsoft.AspNetCore.Authorization

<h1 class="text-primary fw-bold">Moje aktívne požiadavky (pocet)</h1>
<p class="text-muted">
    Tu nájdete prehľad Vašich doposiaľ zadaných požiadaviek v tejto ordinácii. Kliknutím na požiadavku zobrazíte jej detaily a prebiehajúcu komunikáciu.
</p>

<button type="button" class="btn btn-success m-3" @onClick="OnCreateNewRequestClick">Vytvoriť novú požiadavku</button>

<h4 class="text-primary fw-bold">Vyriešené požiadavky</h4>
<p>Tu nájdete prehľad minulých požiadaviek v tejto ordinácii. V detaile si zobrazíte podrobnosti.</p>

@for (int i = 0; i < 3; i++)
{
    <ExaminationBar ExaminationName="konzultovat vysledky"></ExaminationBar>
}



@code {
    private void OnCreateNewRequestClick()
    {

    }
}
