@page "/recipes"
@using HospitalManager.Client.Components.Layout.Patient




<h1 class="text-primary fw-bold">Aktuálne recepty</h1>
@* nepouzite a neexpirovane *@
<RecipeBar MedicineName="xanax"></RecipeBar>
<RecipeBar MedicineName="coaxil"></RecipeBar>
<RecipeBar MedicineName="lexaurin"></RecipeBar>


<h4 class="text-primary fw-bold">Recepty v minulosti</h4>
@* pouzite a (expirovane alebo neexpirovane) *@
<RecipeBar MedicineName="stoptusin"></RecipeBar>
<RecipeBar MedicineName="nurofen"></RecipeBar>
<RecipeBar MedicineName="aspirin"></RecipeBar>
<RecipeBar MedicineName="ibalgin"></RecipeBar>
<RecipeBar MedicineName="paralen"></RecipeBar>
<RecipeBar MedicineName="aspirin"></RecipeBar>

@code {





    
}
